#map{
    height: 300px;
}
.left-nav{
    float: left;
    background-color: red;
    width: 100px;
    float:left;
    height: 500px;
}
.viewContent{

}
.nav>li>a{
    border-color: #428bca;
    color: #428bca !important;
}
.left-navbar{
    float: left !important;
}
#cityGrid{
    height: 350px;
}
.angular-google-map-container { 
    height: 450px; 
}
