<div>
    <div class="row">
        <div class="col-lg-2">
            <div ng-include="'/resources/templates/PlatformMenu.html'"></div>
        </div>
        <div class="col-lg-10" style="height: 410px;">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Cluster status">Status1</uib-tab>
                <uib-tab index="1" heading="Cluster nodes">Status2</uib-tab>
                <uib-tab index="2" heading="Cluster metrics">Status3</uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>